<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Today</h1>
        <p>The date is Wednesday, September 04, 2019
        </p>
    </body>
</html>